<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Code Helper</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/design.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

	<!--Navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top font-weight-bold">
  <a class="navbar-brand" href="#">CodeHelper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Materials
        </a>
        <div class="dropdown-menu" style="margin-top:-2px;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/home">Notes</a>
          <a class="dropdown-item" href="#">Previous Papers</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/blogs">Blog</a>
      </li>
 <%if(!currentUser){ %>
               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Sign in
        </a>
    <form class="dropdown-menu p-4" style="margin-top: 7px;" action="/login" method="POST" id="login">
      <div class="form-group">
        <label for="exampleDropdownFormEmail2">Email address</label>
        <input type="username" class="form-control" id="exampleDropdownFormEmail2" placeholder="username" name="username" autofocus>
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword2">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" name="password">
      </div>
    
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
          Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-2">Log in</button>
      <a class="dropdown-item bg-warning mt-2 btn-sm mt-2" href="/forgot">Forgot password?</a>
       <div class="dropdown-divider"></div>
  </form>
  </li>
  
     </li>
       <li class="nav-item dropdown">
           <button type="button" class="btn btn-outline-warning ml-2 btn-sm mt-1" data-toggle='modal' data-target='#popupWindow'>Sign Up</button>
     </li>
 <%}else{%>
                <li class="nav-item">
                     <a class="nav-link" href="#">Signed in as <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="/logout">LOG OUT</a>
                </li>
  <%}%>
    </ul>
    <ul class="navbar-nav ml-auto text-weight-bold">
        <li class="nav-item">
        <a class="nav-link" href="/blogs/new">Add New Post</a>
      </li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="popupWindow" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content bg-light">
      <div class="modal-header">
          <h4 class="modal-title text-left ml-4">Sign Up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body p-4">
        <div class="container form-group">
        <form role="form" action="/register" method="POST">
            <p><input type="text" class="form-control" id="psw" placeholder="Username" name="username"></p>
            <p><input type="password" class="form-control" id="psw" placeholder="Password" name="password"></p>
        </div>
            <button type="submit" class="btn btn-success ml-3 btn-lg"><span class="glyphicon glyphicon-off"></span> Sign Up</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>
<div id="navSpace"></div>