<% include ./partials/header %>

<div class="container">
	<div class="jumbotron text-center mt-5">
		<h1 class="display-4">Set Price
		    <i class="fa fa-inr" aria-hidden="true"></i>
		</h1>
        <form action="/shopkeeper/<%=post._id%>/edit" method="POST">
           <input type="number" placeholder="Price" name="price" value="<%=price%>" class='form-control'>
              <button  class="btn btn-outline-info mt-2">Submit</button>
        </form>
	</div>
</div>










<% include ./partials/footer %>

