<% include partials/blog_header %>

<!-- <div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="blog[body]" required></textarea>
        </div>
        <button class="ui big violet basic button">Create Post</button>
    </form>
</div> -->
<div class="container mt-5">
<div class="jumbotron jumbotron-fluid p-5">
  
    <h1 class="display-4 text-center mb-4">New Post
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
    </h1>
    <form action="/blogs" method="POST">
        <div class="field">
            <label >Title</label>
            <div>
                <input type="text" class="form-control" name="blog[title]">
            </div><br>
            
        </div>
        <div class="field">
            <label>Image</label>
            <div>
                <input type="text" class="form-control" name="blog[image]">
            </div>
            <br>
            
        </div>
        <div class="field">
            <label>Post Content</label>
            <div>
                <textarea name="blog[body]" required></textarea>
            </div>
            <br>
            
        </div>
        <div class="text-center">
            <button class="btn btn-success">Create Post</button>
        </div>
    </form>
    
  </div>
</div>


<% include partials/footer %>


