<% include ./partials/header %>


<!-- 1st table -->
<div class="container mt-5 mb-5">
	<table class="table table-striped table-hover ">
		<tr class="bg-info text-center"><th>Payment Info Pending</th></tr>
	</table>
	<table class="table table-hover table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Code No.</th>
	      <th scope="col">Title</th>
	     </tr>
	  </thead>
	  <tbody>
	  	<%var count = 1%>
	  	<%infoPending.forEach(function(element){%>
        <tr>
        	<th scope="row"><%=count%></th>
        	<td><%=element.code%></td>
        	<td><a href="/shopkeeper/<%=element._id%>"><%=element.title;%></a></td>
           <%count+=1%>
	    </tr>
        <%})%>

	  </tbody>
	</table>
</div>

<!-- 2nd table -->

<div class="container mt-5">
	<table class="table table-striped table-hover ">
		<tr class="bg-info text-center"><th>Payment Info Done</th></tr>
	</table>
	<table class="table table-hover table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Code No.</th>
	      <th scope="col">Title</th>
	     </tr>
	  </thead>
	  <tbody>
	  	<%var count = 1%>
	  	<%infoDone.forEach(function(element){%>
        <tr>
        	<th scope="row"><%=count%></th>
        	<td><%=element.code%></td>
        	<td><a href="/shopkeeper/<%=element._id%>/edit"><%=element.title.toUpperCase()%></a></td>
           <%count+=1%>
	    </tr>
        <%})%>

	  </tbody>
	</table>
</div>



<% include ./partials/footer %>