<% include partials/header %>
<nav aria-label="breadcrumb mt-0">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/home">Materials</a></li>
    <li class="breadcrumb-item"><a href="/home">Notes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Download</li>
  </ol>
</nav>

<div class="row m-4">


<div class="col-sm-4 rounded custom-1">
		<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Notes Details
  </button>
  <button type="button" class="list-group-item list-group-item-action"><b>DATED: </b><%=resultPost.created.toDateString()%></button>
  <button type="button" class="list-group-item list-group-item-action"><b>SUBJECT: </b><%=resultPost.subject.toUpperCase() %></button>
  <button type="button" class="list-group-item list-group-item-action"><b>TITLE: </b><%=resultPost.title.toUpperCase() %></button>
  <button type="button" class="list-group-item list-group-item-action"><b>CODE: </b><%=resultPost.code%></button>
  <button type="button" class="list-group-item list-group-item-action"><b>PAGES: </b><%=resultPost.pages%></button>
  <button type="button" class="list-group-item list-group-item-action"><b>SIZE: </b><%=resultPost.size%>Mb</button>
</div>
      	</div>
    
    
  <div class="col-sm-4">  
  <div class="container">
  <button type="button" class="list-group-item list-group-item-action active">
    Some of the snaphots from PDF
  </button>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  <%resultPost.images.forEach(function(image,index){%>
  <%if(index === 0){%>
    <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="active"></li>
  <%}else{%>
    <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>"></li>
    <%}%>
    <%})%>
  </ol>
  <div class="carousel-inner custom-2">
    <%resultPost.images.forEach(function(image,index){%>
    <%if(index === 0){%>
    <div class="carousel-item active">
      <img class="d-block w-100" src="<%=image%>" alt="First slide">
    </div>
    <%}else{%>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%=image%>" alt="First slide">
    </div>
    <%}%>
    <%})%>
  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
</div>
  </div>
	<div class="col-sm-4">
      	<img src="http://www.medef-idf.fr/wp-content/uploads/2018/03/application-pdf.png" class="rounded mx-auto d-block img-thumbnail" alt="...">
      		<div class="container mt-5 text-center bg-light rounded">
         		 <button class="btn btn-success btn-sm mt-2">Purchase</button>
          		<a class="btn btn-outline-info btn-sm mt-2" href="/home/<%=resultPost._id %>/download">Download Pdf</a>
         		 <button class="btn btn-danger btn-sm mt-2" id="share">Share</button>
         		 <input type="text" value="<%=resultPost.url%>" class="d-none" id="clipboard"><br>
         		 </div>
         		   <%if(currentUser && resultPost.author.id.equals(currentUser._id)){%>
               <div class="text-center mt-3">
            <form style="display: inline;" method="POST" action="/home/<%=resultPost._id%>?_method=DELETE">
                <button class="btn btn-outline-danger" type="submit">Delete Post</button>
            </form>
            </div>
            <%}%>
   	 </div>
</div>
<div class="jumbotron">
   	<div class="container bg-light rounded py-4">
  		<div class="row">
  			<div class="col-sm-4 mt-2 text-center">
  				Store Name
  			</div>
  			<div class="col-sm-2 mt-2">
  			</div>
  			<div class="col-sm-3 mt-2 text-center">
  				<select class="btn btn-info">
  					<option>No. of copies</option>
  					<option>1</option>
  					<option>2</option>
  					<option>3</option>
  					<option>4</option>
  					<option>5</option>
  				</select>
  			</div>
  			<div class="col-sm-2 mt-2 btn btn-info">
  				Purchase
  			</div>
  		</div>
  	</div>
</div>
<hr>
<div class="container">
	<div claas="row">
		<div class="mb-2">
			<h3><strong>Leave a Comment:</strong></h3>
			<hr>
		</div>
			<div class="container bg-light py-4">
  	    <%resultPost.comments.forEach(function(comment){%>
  	    <div class="mt-3">
  	        <h5 class="d-inline"><%=comment.author.username%><small class="text-muted marginLeft mt-3"><%=comment.text%></small></h5>
            <% if(user_id == comment.author.id){%>
  	        <form action="/home/<%=resultPost._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST" class="d-inline float-right">
  	            <button class = "p-0 float-right delete">Delete</button>
  	        </form>
  	        <a href="/home/<%=resultPost._id%>/comment/<%=comment._id%>/edit" class=" float-right">Edit</a>
  	     </div>
         <%}%>
  	    <%}) %>	  
				<form action="/home/<%=resultPost._id%>/comment" method="post">
			        <div class="form-group mt-4">

			    	<textarea class="form-control mt-4" id="exampleTextarea" placeholder="Comment goes here.." name="comment[text]" rows="1"></textarea>
			      </div>
			      <div class="text-right mt-4">
			      <input type="submit" class="btn btn-dark" name="" value="Comment">
				  </div>
			  	</form>
			</div>
	</div>
</div>
<% include partials/footer %>