<% include ./partials/header %>

<div class="container">
	<div class="jumbotron text-center mt-5">
	  <h1 class="display-4">Set Price
	  <i class="fa fa-inr" aria-hidden="true"></i></h1>
	  <form action="/shopkeeper/<%=post._id%>" method="POST">
	    <input class='form-control' type="number" placeholder="Price" name="price" >
	    <div>
	    	<button type="button" class="btn btn-outline-secondary mt-3">Submit</button>
	    </div>
	</form>
	</div>
</div>




<% include ./partials/footer %>